*{
    margin: 0;
    padding: 0;
}

:root{
    /* --var-scope: value; */
}

body{
    margin: 0 6rem;
}

li{
    margin-left: 3rem;
    padding: 1.5rem;
    border: 1px solid blue;
    list-style: none;
}

a{
    text-decoration: none;
}

nav.an_info{
    padding: 2.7rem 5rem;
    border: 1px solid red;
}

nav.an_menu{
    border: 1px solid red;
    display: flex;
}

a.an_media-links{
    font-size: 3.1rem;
}

a.an_topico{
    margin: 0 6.3rem;
    padding: 4rem 4.7rem;
    font-size: 3.1rem;
}

p{
    font-size: 2.4rem;
}

div.an_blog{
    border: 1px solid red;
}

div.an_banner{
float: left;
}

div.an_title{
    padding-left: 1rem;
}

div.an_description{
    padding-left: 1rem;
}

a.an_banner-title{
    font-size: 5rem;
    text-align: left;
}

div.adsense{
    border: 1px solid red;
}

.an_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.an_contato{
    display: flex;
}

.an_background{
    border: 1px solid red;
    padding: 2rem;
}

.an_news{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;

}