/*
    ============================================================
    ===============================GERAL==================================
    ============================================================
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Trirong', sans-serif;
}

:root {
    /* --var-scope: value; */
    --universal-padding: 10px 15px;

    --bg-color: #202020;
    --main-color: #303030;
    --menu-color: #ff7700;
    --hover-color: rgba(0, 0, 0, 0.2);
    --adsense-color: #999999;

    --high-font: calc(0.37rem + 2vw);
    --low-font: calc(0.27rem + 2vw);
}

/*
    ============================================================
    ===============================TAGS==================================
    ============================================================
*/
body {
    background-color: var(--bg-color);
}

nav.an_info {
    padding: var(--universal-padding);
    background-color: var(--main-color);
}

nav.an_info img {
    width: 30vw;
}

nav.an_menu {
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    background-color: var(--menu-color);
}

div.an_search input {
    border-style: none;
    background-color: var(--adsense-color);
    color: var(--bg-color);
    width: 20vw;
}

div.adsense {
    margin: 0px 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--adsense-color);
}

div.adsense h2 {
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

div.adsense img {
    width: 40vw;
}

div.an_banner {
    margin: 0px 0px 10px;
    padding: 13px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.an_banner img {
    width: 80vw;
    height: 50vw;
}

div.an_title,
div.an_description {
    margin: 0px 0px 10px;
    display: flex;
    align-content: center;
}

li:hover {
    background-color: var(--hover-color);
}

li {
    padding: 5px;
    list-style: none;
}

li:last-child {
    margin: 0 0 0 5px;
}

a {
    text-decoration: none;
}

a.an_media-links {
    font-size: var(--high-font);
    color: var(--menu-color);
}

a.an_topico:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
}

a.an_topico {
    padding: 10px 13px;
    font-size: var(--low-font);
}

a.an_banner-title {
    font-size: var(--high-font);
    color: var(--menu-color);
    text-align: left;
}

p {
    display: flex;
    text-align: left;
    font-size: var(--low-font);
    color: var(--adsense-color);
}

/*
    ============================================================
    ===============================CLASSES==================================
    ============================================================
*/
.an_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.an_contato {
    display: flex;
}

.an_background {
    padding: 10px 0;
}

.an_news {
    margin: 5px 0px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
}

.an_blog {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr;
}

/*
    ============================================================
    ===============================ID'S==================================
    ============================================================
*/
#box1,
#box2,
#box3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
